*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

@font-face{
    font-family: "Recoleta";
    src: url('../font/Recoleta-RegularDEMO.otf');
}
@font-face{
    font-family: "Noto Sans";
    src: url('../font/NotoSans-Regular.ttf');
}
$font1: 'Recoleta';
$font2: 'Noto Sans';

.container{
    width: 1170px;
    margin: 0 auto;
    @media (max-width: 1200px){
        width:unset;
        padding: 0 15px;
    }
}
.first{
    background:#163A24;
}
.header{
    background:#163A24;
    padding: 25px 0; 
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        display: flex;
        &__list{
            display: flex;
            align-items: center;
        }
        &__item{
            margin-right: 24px;
        }
        &__link{
            font-family: $font2;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            color: #FBFAF7;
        }
    }
    &__btn{
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        color: #FBFAF7;
        background: #198C36;
        border-radius: 160px;
        padding: 15px 25px;
    }
    &__burger{
        display: none;
        @media(max-width:650px){
            align-items: center;
            display: flex;
        }
    }
}
.intro{
    &__wrap{
        display: flex;
        align-items: center;
        @media (max-width:650px){
            flex-wrap: wrap;
        }
    }
    &__tittle{
        font-family: $font1;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        color: #FBFAF7;
        margin-right: 18px;
        @media(max-width: 1200px){
            font-size: 36px;
            line-height: 40px;
        }
    }
    &__text{
        font-family: $font2;
        font-style: normal; 
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FBFAF7;
        @media(max-width: 1200px){
            font-size: 16px;
        }
    }
    &__img{
        width: 738px;
        height: 580px;
        @media(max-width: 1200px){
            height: 360px;
            align-self: flex-end;
                img{
                    width: 100%;
                    height: 100%;
                }
        }
    }
}
// second
.second{
    &__imgs{
        margin-top: 80px;
    }
    &__bottom{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 120px;
        flex-wrap: wrap;
        @media (max-width:500px){
            display: flex;
            flex-direction: column;
        }
    }
    &__wrap{
        display: flex;
        flex-direction: column;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 376px;
    }
    &__tittle{
        font-family: $font1;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        margin-bottom: 27px;
        @media (max-width: 700px){
            font-size: 36px;
            line-height: 40px;
        }
    }
    &__text{
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #163A24;
        @media (max-width:965px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__img{
        @media(max-width:965px){
            margin-bottom: 30px;
            &__order{
                order: 0;
            }
        }
        @media(max-width:500px){
            width: 300px;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.we{
    margin-top: 110px;
    display: flex;
    justify-content: center;
}
.third{
    &__bottom{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 120px;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-bottom: 150px;
        @media (max-width:500px){
            display: flex;
            flex-direction: column;
        }
    }
    &__block{
        background-color: #163A24;
    }
    &__list{
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (max-width:965px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__txt{
        width: 200px;
        height: 55px;
    }
}
.HR{
    padding: 65px 0 65px 0;
        display: flex;
        justify-content: center;
    }
